# 3.
# This helps in setting up the environment correctly.

torchvision==0.15.2
#transformers==4.29.2
whisper==1.1.0
scikit-learn==0.24.2
tqdm
more-itertools
transformers>=4.19.0
openai == 0.10.0
tqdm
openai
more-itertools
torch==2.0.1
transformers==4.28.1
accelerate==0.18.0
pandas==2.0.3
numpy==1.24.4
ffmpeg-python==0.2.0
argparse==1.4.0
logging==0.5.1.2
peft==0.3.0
scipy==1.10.1
matplotlib==3.7.1
pillow==10.0.0